* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  gap: 1.6rem;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}

/*reutilizables*/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.header {
  background-color: #fdf2e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*we give it a fix height so later we can make it a fix header when we scroll*/
  height: 9.6rem;
  padding: 0 4.6rem;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.7px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  background-color: #e67e22;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding: 1.6rem;
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-full:link,
.btn:visited {
  background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;

  /* with this trick what we archieve is a 
  white border around the button but not
  in the outside of it but in inside so in
  that way we wont push  the elements around of the
   button by adding the pixels that come with the outside border*/
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-full {
  margin-right: 1.6rem !important;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.delivered-img {
  display: flex;
}

.delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 1px solid #fdf2e9;
}

.customer-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.customer-text span {
  color: #cf711f;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
  display: inline-block;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
